<div class="container">
    <div class="row ">
        <div class="col-sm-2 first">
            <div class="row user-header">
                <user-header user="user">
            </div>
            <div class="row">
                <div class="online-users">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" data-target="#users">users</a>
                            <!--<a data-toggle="tab"><button type="button" class="btn btn-primary" name="button" data-target="#users"></button></a>-->
                        </li>
                        <li>
                            <a data-toggle="tab" data-target="#chatrooms">chatrooms</a>
                            <!--<a data-toggle="tab"><button type="button" class="btn btn-primary" name="button" data-target="#chatrooms"></button></a>-->
                        </li>
                    </ul>
                    <div class="tab-content scroller">
                        <div id="users" class="tab-pane fade in active">
                            <ul class="list-group">
                                <li class="list-group-item users" ng-repeat="user in users track by $index">
                                    <!--<a href="/chatWith/{{o}}">{{o}}</a>
                                    <a href="/oneTo/{{user.username}}">{{user.username}}</a>-->
                                    <a ui-sref=".header-details({username:'{{user.username}}'})">{{user.username}}</a>
                                </li>
                            </ul>
                        </div>
                        <div id="chatrooms" class="tab-pane fade">
                            <ul class="list-group">
                                <li class="list-group-item users" ng-repeat="chatgroup in chatgroups track by $index">
                                    <!--<a href="/chatWith/{{o}}">{{o}}</a>
                                    <a href="/oneTo/{{o}}">{{o.chatroom_name}}</a>-->
                                    <a ui-sref=".header-details({username:'{{chatgroup.chatroom_name+'chatgroup'}}'})">{{chatgroup.chatroom_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a ui-sref=".list"  class="btn btn-primary" id="create_chatroom_btn">Create Chatroom</a>

                    <!--
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="o in online[0].users track by $index">
                            its commented part<a href="/chatWith/{{o}}">{{o}}</a>
                            <a href="/oneTo/{{o}}">{{o}}</a>
                        </li>
                    </ul>
-->
                </div>
            </div>
        </div>

        <div class="col-sm-10">
            <div class="row other-user-details">
                <div ui-view="mainview.header-details">

                </div>
            </div>
            <div class="row scroller">
                <div class="col-sm-12">
                  <div ui-view="mainview.list">

                  </div>
                    <div ng-repeat="obj in isendmessageobj track by $index">
                        <div ng-if="obj.align == 'left'">
                          <send-msg  message="obj">
                        </div>
                        <div ng-if="obj.align == 'right'">
                          <recv-msg ng-if="obj.align == 'right'" message="obj">
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-sm-6">
                    <div ng-repeat="obj in recvuserobj track by $index">
                        <recv-msg message="obj">
                    </div>
                </div>-->
            </div>
            <div class="row">
                <form name="chatForm" ng-submit="sendMsg()" id="form" novalidate>
                    <div class="input-group">
                        <input type="text" class="form-control" name="message" ng-model="message" ng-model-options="{updateOn: 'submit'}" ng-required="true" id="message" autocomplete="off" placeholder="Type your message " required>
                        <!--<input type="submit" class="btn btn-primary" name="msg_btn" id="msg_btn" value="send">-->
                        <div class="input-group-btn">
                            <input type="submit" class="btn btn-primary" name="msg_btn" id="msg_btn" value="send"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


<style media="screen">
    li {
        list-style-type: none;
        text-align: center;
    }
    /*
    .list-group-item {
        margin-bottom: 10px;
        border-radius: 20px;
        width: 130px;
        background-color: #E3F2FD;
    }

    .list-group-item:first-child {
        border-radius: 20px;
    }

    .list-group-item:last-child {
        border-radius: 20px;
    }
*/

    .scroller {
        overflow-y: scroll;
        min-height: 450px;
        max-height: 450px;
    }

    .online-users {
    }

    .scroller {
    }

    #message {
        height: 50px;
        border-radius: 20px;
    }

    input[type="text"] {
        font-size: 30px;
        width: 100%;
        margin: 0 auto;
    }

    #msg_btn {
        width: 60px;
        height: 50px;
        margin-bottom: 12px;
        border-radius: 20px;
    }

    #form {
        margin: 0 auto;
    }

    .other-user-details {
        height: 150px;
    }

    .user-head {
        height: 100px;
    }

    .tab-content {
        overflow-y: scroll;
        min-height: inherit;
    }

    .nav>li {
        width: 50%;
    }

    #create_chatroom_btn {
        width: 100%;
    }
    #chatrooms > .list-group{
      margin-top:0px;
      margin-bottom:0px;
    }
    #users > .list-group{
      margin-top:0px;
      margin-bottom:0px;
    }
    /*div{
      border:1px solid black;
    }*/
</style>
