<div class="create_chatroom" ng-show="$state.current.name === 'dashboard.list'">
  <form class="form-inline" ng-submit="setChatroom()" name="login">
    <h3 id="header_create_chatroom">create chatgroup</h3>
      <div class="form-group">
          <input type="text" class="form-control" name="chat_room" ng-model="chat_room" placeholder="enter room here" required>
          <button type="submit" class="btn btn-success" name="sb_btn" id="create">
          <button type="button" class="btn btn-danger" id="finish" ng-click="$state.go('dashboard')"></button>
      </div>
  </form>

</div>

<style media="screen">
  .create_chatroom{
    display:flex;
    justify-content:center;
  }
#header_create_chatroom{
  text-align:center;
}
#create{
  height:30px;
  width:30px;
  border-radius:50%;
  margin-right:5px;
  background-color:#00C853;
  border-color:#00C853;
}
#finish{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:#D50000;
    border-color:#D50000;
}

</style>
