<div class="col-sm-12 head">
    <h4><img src="https://s3.amazonaws.com/uifaces/faces/twitter/toffeenutdesign/128.jpg"alt="user image">ravichandra</h4>
    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" name="search_user">
        </div>
    </form>
</div>

<style media="screen">
    img {
        height: 65px;
        width: 65px;
        margin: 10px 10px;
        border-radius: 50%;
    }

    .head {
        border: 1px solid blue;
    }

    input[name="search_user"],
    .input-group-addon {
        border-radius: 10px;
    }
</style>
